WebService/src/main/webapp/schems/APIRequest.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="request">
        <xs:complexType>
            <xs:all>
                <xs:element name="registration" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для регистрации нового пользователя
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name"/>
                            <xs:element name="mail"/>
                            <xs:element name="hashPass"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="authorization"  minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для авторизации пользователя 
                            структура ответа описана в документе APIResponce.xsd с аналогичным именем
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"/> <!--логин пользователя-->
                            <xs:element name="hashPass" type="xs:string"/> <!--зашифрованый пароль md5-->
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="createGoal" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для создания цели авторизированым пользователем
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sessionId"/>
                            <xs:element name="name"/>
                            <xs:element name="anotation"/>
                            <xs:element name="beginDate"/>
                            <xs:element name="endDate"/>
                            <xs:element name="plan">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="item" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="number"/>
                                                    <xs:element name="name"/>
                                                    <xs:element name="beginDate"/> 
                                                    <xs:element name="endDate"/>
                                                    <xs:element minOccurs="0" name="idAcount"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
<!--                <xs:element name="createPlanToDay" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для создания цели авторизированым пользователем
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="date"/>
                            <xs:element name="plan">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="item" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:all>
                                                    <xs:element name="number"/>
                                                    <xs:element name="name"/>
                                                    <xs:element name="status">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:enumeration value="Begin"/>
                                                                <xs:enumeration value="Processed"/>
                                                                <xs:enumeration value="End"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="globalPlan">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="numberGoal"/>
                                                                <xs:element name="numberItemPlan"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element minOccurs="0" name="notice"/>
                                                </xs:all>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>-->
                <xs:element name="confirmation" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для подтверждения регистрации нового пользователя
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sessionId"/>
                            <xs:element name="key"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="closeSession" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для завершения сесии пользователя который хочет выйти из акаунта
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sessionId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="userState" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для Отображения текущего состояния пользовательского акаунта
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sessionId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="userGoals" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для Отображения списка пользовательских целей 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sessionId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="palnToDay" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для Отображения плана на сегодня
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sessionId"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                 <xs:element name="goalInfo" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Данная функция предназначена для получение информации о цели
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="sessionId"/>
                            <xs:element name="golaID"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!--сюда добавлять новые функции-->
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>